@import "./mixins";

$background-color: #4056a1;
$font-color: #ffffff;
$font-family: 'Bungee', sans-serif;

nav {
	@include center-space-between;
	position: fixed;
	background-color: $background-color;
	color: $font-color;
	height: 120px;
	left: 0;
	padding: 0 1.5em;
	top: 0;
	width: 100%;
	z-index: 99;

	& > span {
		font-family: $font-family;
	}

	div {
		text-align: center;

		&:hover {
			cursor: pointer;
		}
	}

	p {
		margin: 0 0 0.5rem 0;

		span {
			font-weight: bold;
		}
	}
}

/* custom CSS when scroll down */
.custom-nav {
	height: 60px;

	&-div {
		@include center-space-between;

		&-p {
			margin: 0;
			margin-right: 0.5rem;
		}
	}
}
