.container > header {
  display: flex;
  background: #ffa500 url("https://www.transparenttextures.com/patterns/brushed-alum.png");
  flex-direction: column;
  height: 400px;
  justify-content: center;
  margin-top: 3.5rem;
  text-align: center;
  width: 30%;
}
.container > header h2 {
  margin: 0.5rem 0 0 0;
}
