body > header {
	background: #ffa500 url("https://www.transparenttextures.com/patterns/brushed-alum.png");
	height: 400px;
	text-align: center;
	width: 100%;
}

body > header h2 {
	margin-top: 0.5rem;
}
