main {
  margin: auto;
  width: 60%;
}
main > * {
  margin: 3.5rem 0;
}
main .to-top-btn {
  position: fixed;
  bottom: 5%;
  background-color: #4056a1;
  border: 0px;
  border-radius: 100%;
  color: #ffffff;
  cursor: pointer;
  height: 3.75rem;
  margin: 0;
  opacity: 0.75;
  right: 3%;
  transition: opacity 500ms ease-out;
  width: 3.75rem;
}
main .to-top-btn:hover {
  opacity: 1;
}
