nav {
	position: fixed;
	background-color: #4056a1;
	color: #ffffff;
	display: flex;
	height: 120px;
	left: 0;
	justify-content: space-between;
	padding: 0 1.5em;
	top: 0;
	width: 100%;
	z-index: 99;
}

nav > span {
	align-self: center;
	font-family: 'Bungee', sans-serif;
}

nav div {
	text-align: center;
}

nav div:hover {
	cursor: pointer;
}

nav p {
	margin-bottom: 0.5rem;
}

nav p span {
	font-weight: bold;
}

/* custom CSS when scroll down */
.custom-nav {
	height: 60px;
}

.custom-nav-div {
	display: flex;
	align-items: center;
}

.custom-nav-div-p {
	margin: 0;
	margin-right: 0.5rem;
}
