nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: #4056a1;
  color: #ffffff;
  height: 120px;
  left: 0;
  padding: 0 1.5em;
  top: 0;
  width: 100%;
  z-index: 99;
}
nav > span {
  font-family: "Bungee", sans-serif;
}
nav div {
  text-align: center;
}
nav div:hover {
  cursor: pointer;
}
nav p {
  margin: 0 0 0.5rem 0;
}
nav p span {
  font-weight: bold;
}

/* custom CSS when scroll down */
.custom-nav {
  height: 60px;
}
.custom-nav-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.custom-nav-div-p {
  margin: 0;
  margin-right: 0.5rem;
}
