.new-tweet aside {
  display: none;
  border: 0.5px dashed #ff0000;
  color: #ff0000;
  margin-bottom: 1.5rem;
  text-align: center;
}
.new-tweet aside .error-message {
  font-weight: bold;
  margin: 0.5em 0;
}
.new-tweet form label {
  font-weight: bold;
}
.new-tweet form textarea {
  background-color: #f4f1ec;
  border: 0;
  border-bottom: 2.5px solid #000000;
  height: 2.5rem;
  min-height: 2.5rem;
  margin-top: 1rem;
  outline: none;
  resize: vertical;
  width: 100%;
}
.new-tweet form div {
  display: flex;
  font-family: "Bungee", sans-serif;
  justify-content: space-between;
  margin: 1rem 0;
}
.new-tweet form button {
  background-color: #4056a1;
  border: 0;
  color: #ffffff;
  padding: 0.25em 0.5em;
}
.new-tweet form button:hover {
  cursor: pointer;
}
